.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: purple;
  height: 200px;
}

.item {
  width: 30px;
  height: 30px;
  background: orangered;
}

.container .item:nth-child(2n + 1) {
  background: green;
}

