.container {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background: springgreen;
}

.item {
  background: cyan;
}

.container .item:nth-child(1) {
  grid-column: 1/2;
}

.container .item:nth-child(2) {
  grid-column: 2/2;
  grid-row: 2/2;
}

.container .item:nth-child(3) {
  grid-column: 3/3;
  grid-row: 3/3;
}

.container .item:nth-child(4) {
  grid-column: 4/4;
  grid-row: 4/4;
}

.container .item:nth-child(5) {
  grid-column: 5/5;
  grid-row: 5/5;
}

.container .item:nth-child(6) {
  grid-column: 6/6;
  grid-row: 6/6;
}